.nav__logo img {
    width: 97px;
    height: 56px;
}

.nav__list-item-link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: var(--main-item);
}

.nav__list {
    display: flex;
    gap: 67px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__lists {
    display: flex;
    align-items: center;
    justify-content: center;
}

